.worm {
    display: flex;
    animation: wormAnimation 1.9s ease-in infinite;
  }
  .worm-delay2{
    animation-delay: .5s;
  }
  .worm-delay3{
    animation-delay: 1s;
  }
  @keyframes wormAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  
  .MuiStack-root.css-1exe7k-MuiStack-root {
    font-weight: 600;
  }
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionSticky.css-fjcl5a-MuiPaper-root-MuiAppBar-root{
    font-weight: 600 !important; 
    color: #007d53ff;
  }

  .css-d8255u-MuiTypography-root{
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600 !important;
  }

  .css-vfx6rl-MuiTypography-root{
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600 !important;
  }

  .MuiTypography-root.MuiTypography-body1.css-1sfp7zr-MuiTypography-root {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600 !important;
  }

  .MuiTypography-root.MuiTypography-body1.css-t8j7ue-MuiTypography-root {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600 !important;
  }

  .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-i2iy5o-MuiPaper-root-MuiAppBar-root{
    box-shadow: none;
  }