.worm {
    display: flex;
    animation: wormAnimation 1.9s ease-in infinite;
  }
  .worm-delay2{
    animation-delay: .5s;
  }
  .worm-delay3{
    animation-delay: 1s;
  }
  @keyframes wormAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  
  .MuiStack-root.css-1exe7k-MuiStack-root {
    font-weight: 500;
  }
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionSticky.css-fjcl5a-MuiPaper-root-MuiAppBar-root{
    font-weight: 500; 
    color: green;
  }