.registerContainer {
  display: flex;
  width: 100%;
  padding: 40px 20px;
}

.imgContainer {
  max-width: 60%;
}

.imgContainer img {
  height: 100%;
  object-fit: cover;
}

.MuiStepConnector-line.MuiStepConnector-lineVertical.css-8t49rw-MuiStepConnector-line {
  display: none;
}
