.registerContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px; /* Controla el ancho total en pantallas grandes */
  margin: 0 auto;
  padding: 40px 20px;
  gap: 20px;
}

.imgContainer {
  max-width: 60%;
}

.imgContainer img {
  height: 100%;
  object-fit: cover;
}

.MuiStepConnector-line.MuiStepConnector-lineVertical.css-8t49rw-MuiStepConnector-line {
  display: none;
}
