.footerContainer {
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 10px;
}

.itemList {
  font-weight: 400;
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 10px;
  margin-left: 20px;
}
