.loginContainer {
  display: flex;
  max-height: 100vh;
  width: 100%;
  gap: 150px;
}

.imgContainer {
  max-width: 40%;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  margin-top: 10px;
  padding-bottom: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.headerContainer {
  padding: 20px;
}

.headerContainer img {
  padding: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer p {
  margin-left: 5px;
  text-align: left;
  font-weight: 500;
}

.inputContainer span {
  text-align: right;
}
