* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100%;
  overflow-x: auto;   /* Activa scroll horizontal */
  overflow-y: auto;   /* Activa scroll vertical */
  font-family: "Montserrat", sans-serif !important;
}

Button {
  font-family: "Montserrat", sans-serif !important;
}
